html, body {
  height: 100%;
  color: #064872;
}

.main {
    position: fixed;
    top: 30%;
    left: 20%;
    width: 60%;
}

#summaryTable {
    /*position: fixed;*/
    /*right: 80%;*/
    float: right;
    max-width: 30%;
}

#submitGrants {
    float: right;
}

.AddressWrapper {
    cursor: default;
    white-space: nowrap;
    overflow: auto;
}

.cellAlignRight {
    text-align: right;
}

.nav-link {
    cursor: pointer;
}

.wallet-icon {
    cursor: pointer;
}

table {
    table-layout: fixed;
}


table th {
    vertical-align: middle;
    position: relative;
}

table td {
    vertical-align: middle;
    overflow: auto;
    white-space: nowrap;
}
